* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

nav {
	list-style: none;
}

ul,li {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 1;
	color: white;
}

a:hover {
	opacity: 1;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #3f51b5;
	/*color: white;*/
	opacity: 1;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
	flex-shrink: 1;
	max-width: 100%;
}

section h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px) {
	section{
		padding: 50px 20px;
	}
}

.grid {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;	
}

hr {
	width: 250px;
	height: 3px;
	background-color: #3f51b5;
	border: 0;
	margin-bottom: 50px;
}

/* =========Header======================================================================================== */

header {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
  padding: 40px 100px;
  text-align: center;
	opacity: 0;
	background: transparent;
	animation: 1s fadein 0.5s forwards;
	color: #fff;
	z-index: 1;

}


@keyframes fadein {
	100% {
		opacity: 1;
	}
}


header li {
	margin: 0 15px;
}

@media (max-width: 800px){
	header{
		padding: 40px 50px;
		/* flex-direction: column; */
	}
}

/*==========Home=====================================================================*/

.home {
	/* position: relative; */
	/* padding: 100px; */
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: white;
	/* background-color: black; */
	/* overflow: hidden; */
}

.home .background-image {
	background-image: url('home.jpg');
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
}

.home h1{
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
}

.home h3{
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}

.home a.btn {
	/* background: #1c3966; */
	padding: 20px 46px;
}

.home-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.home{
		min-height: 100vh;
	}

	.home h1{
		font-size: 48px;
	}

	.home h3{
		font-size: 24px;
	}

	.home a.btn {
		padding: 15px 40px;
	}
	
}


/*======About=========================================================================*/

.about{
	/* padding-top: 120px; */
	position: relative;
	min-height: 100vh;
	/* overflow: hidden; */
}

.about a.btn {
	/* background: #244f91; */
	padding: 20px 46px;
}

.about .title {
	/* margin-top: 3px; */
	font-size: 40px; 
}

.about p {
	font-size: 18px
}

@media (max-width: 800px) {
	.about{
		min-height: 100vh;
	}
}
/*=============Services===============================================================================*/

.grid {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;	
}

.skills .grid li{
	padding: 13px;
	/* height: 50%; */
	flex-basis: 30%;
	text-align: center;
}

.skills .grid li i{
	color: #8c9eff;
}

.skills .grid li h4{
	font-size: 30px;
	margin: 25px 0;
}

@media (max-width: 800px) {
	.skills{
		min-height: 100vh;
	}

	.skills .grid li{
		flex-basis: 100%;
		padding: 20px;
	}
}

/* ======================Skills====================================================================== */

.skills {
	min-height: 100vh;
	background: black;
	color: white;
}

.skills a.btn {
	padding: 20px 46px;
}


.skill-box {
  padding: 15px;
  border-radius: 5px;
	position: relative;
	z-index: 0;
}

.skill-box > .skills-circle > ul {
  padding: 0;
  text-align: center;
  list-style-type: none;
}
.skill-box > .skills-circle > ul > li {
  width: 150px;
  height: 150px;
	background-color: #ddd;
  /* background-color: white */
  border-radius: 50%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
}
.skill-box > .skills-circle > ul > li > span {
	color: black;
  /* color: blue; */
	
}
.skill-box > .skills-circle > ul > li > span.text, .skill-box > .skills-circle > ul > li > span ~ b {
  top: 50%;
	left: 50%;
	color: black;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: -8px;
  z-index: 1;
}
.skill-box > .skills-circle > ul > li > span.text ~ b, .skill-box > .skills-circle > ul > li > span ~ b ~ b {
  font-weight: normal;
  margin-top: 8px;
}
.skill-box > .skills-circle > ul > li > span.bar-circle-right, .skill-box > .skills-circle > ul > li > span.bar-circle-left {
  border-radius: 50%;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
	/* background: #B0DAB9; */
	background: #1960d3;
  clip: rect(0, 75px, 150px, 0);
}
.skill-box > .skills-circle > ul > li > span.bar-circle-left {
	background: #ddd;
  /* background-color: blue; */
	
}
.skill-box > .skills-circle > ul > li > span.bar-circle-cover {
  display: block;
  width: 80%;
  height: 80%;
  border-radius: 50%;
	background-color: #eee;
  /* background-color:blue; */
	
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*=============Projects===============================================================================*/
.projects{
	min-height: 100vh;
}

.projects .title{
	margin-bottom: 0;
}
.card {
	/* flex: 1; */
	flex-basis: 32%;
	flex-shrink: 0;
	flex-grow: 1;
	-webkit-flex-basis: 32%;
	-webkit-flex-shrink: 0;
	-webkit-flex-grow: 1;
	margin-top: 60px;
	margin-right: 15px;
	padding: 55px 15px 30px 15px;
	background-color: #fff;
	text-align: center;
	position: relative;
	border-radius: 5px;
min-width: 115px;
	box-shadow: 0px 8px 12px -3px rgba(0,0,0,0.2);
}

@media (max-width: 800px) {
	.projects {
			min-height: 100vh;
	}
	.card{
		flex-basis: 100%; 
	}
}

.card__image {
box-shadow: 0px -6px 15px -7px rgba(0,0,0,0.2);
position: absolute;
top: -40px;
width: 70px;
height: 70px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
border-radius: 50%;
border: 5px solid #fff;
left: 50%;
margin-left: -40px;
}

.card__image--1 {
	background-image: url('yelp-camp.png');
}

.card__image--2 {
	background-image: url('github-finder.png');
}

.card__image--3 {
	background-image: url('blog-app.png');
}

.card__image--4 {
	background-image: url('mountain-travel.png');
}

.card__image--5 {
	background-image: url('task-list.png');
}

.card__image--6 {
	background-image: url('color-game.png');
}





.cards {
	max-width: 1170px;
	padding: 0 15px;
	margin: 20px auto 60px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 100%;
	justify-content: start;
	align-content: flex-start;
	-webkit-flex-wrap: wrap;
	-webkit-flex-direction: row;
	-webkit-justify-content: start;
	-webkit-align-content: flex-start;
	
}

.card__name {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 18px;
	color: #565656;
	font-weight: 500;
	letter-spacing: 2px;
}

.card__position {
	display: block;
	color: #1960d3;
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.card__button {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 35px;
	padding: 0 18px;
	background-color: #1960d3;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 1px;
	border-radius: 18px;
	box-shadow: 0px 9px 11px -5px rgba(25, 96, 211, 0.7);
}
/*=============Footer/Contact==================================================================*/

.contact {
	/* position: relative; */
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* background-color: #607d8b; */
	background-color: black;
	color: #fff;
	padding: 100px 80px;
	/* flex-shrink: 1; */
	max-width: 100%;
	min-height: 100vh;
	/* padding: 30px 0; */
}

.contact ul{
	display: flex;
}

.contact ul li{
	margin-left: 20px;
	margin-right: 20px;

}

.contact p {
	text-transform: uppercase;
	font-size: 25px;
	opacity: 0.6;
	align-self: center;
}

.contact h2.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	/* margin-bottom: 30px; */
	text-align: center;
}

@media (max-width: 1100px) {
	.contact {
		flex-direction: column;
	}

	.contact p {
		text-align: center;
		margin-bottom: 20px;
		font-size: 20px;
	}

	.contact ul li {
		margin: 0 8px;
	}
}